body
{
    background-color: rgb(191, 255, 248);
    text-align: center
}


h1
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 0px;
    border-radius: 0px;
    color: black
}

.center
{
    padding: 70px 0;
    text-align: center;

}

.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: center;
}

.textcolor
{
    color: black
}
