{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <h1>Quoted</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Symbol</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>{{ symbol }}</td>
                <td>{{ price | usd }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
